<% include ../partials/header %>

<h1>THIS IS THE EVENT-INDEX.EJS PAGE</h1>

<% for (let events of data) { %>
    <div class="events">
        <h1><%= events.title %></h1>
        <h2><%= events.events_date %></h2>
        <h3><%= events.events_time %></h3>
        <p><%= events.events_description %></p>
        <a href='events/<%= events.id%>'>Learn more</a>
    </div>
<% } %>

<% include ../partials/footer %>