<% include ../partials/header %>

<div class="container">
<h1>THIS IS THE EVENT-INDEX.EJS PAGE</h1>

<% for (let events of data) { %>
    <div class="events">
        <h1><%= events.title %></h1>
        <h2><%= events.date %></h2>
        <h3><%= events.time %></h3>
        <p><%= events.description %></p>
        <a href='events/<%= events.id%>'>Learn more</a>
    </div>
<% } %>

</div>
<% include ../partials/footer %>