<% include ../partials/header %>

<h1>EDIT EVENT</h1>

<form method='POST' action='/events/<%= events.id %>?_method=PUT'>
    <input name='title' type='text' value='<%= events.title %>' />
    <input name='events_date' type="date" value="events.events_date, MM/DD/YYYY"placeholder='date' />
    <input name='events_time' type='text' value='<%= events.events_time %>' />
    <input name='events_location' type='text' value='<%= events.events_location %>' />
    <textarea name="events_description" id="description" value='<%= events.events_description %>'></textarea>
    <input name='organizer' type='text' value='<%= events.organizer %>' />
    <input class="" type='submit' value='Edit!' />
</form>

<% include ../partials/footer %>