<% include ../partials/header %>

<h1>THIS IS THE USER-INDEX.EJS PAGE</h1>

<div>
<h2><% data.firstname %></h2>
</div>

    <% for (let event of data) { %>
      <div>
        <h2><%= event.title %></h2>
        <h3><%= event.date %></h3>
        <h3><%= event.time %></h3>
        <h3><%= event.description %></h3>
        <a href='events/<%= event.id%>'>Learn more</a>

  <br>

  <a href='events/<%= event.id %>/edit'>Edit it!</a>

  <form method='POST' action='events/<%= event.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form>
      </div>

    <% } %>

<br>

<a href="../auth/logout">LOGOUT</a>

<br>

<div>
<a href="../events/add">CREATE EVENT</a>
</div>

<% include ../partials/footer %>